:root {
  --vp-c-brand-1: #3999ff;
  --vp-c-brand-2: #3478ff;
  --vp-button-brand-bg: #3999ff;
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #722dfa40 30%, #21d4fd40);
  --vp-home-hero-image-filter: blur(30px);
}
